{% extends "base.html" %}
{% load widget_tweaks %}

{% block extrahead %}
{% load static %}
<!-- <link rel="stylesheet" href="{% static 'first_version/css/create_player.css' %}"> -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"> -->
<link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous"
/>
<script src="{% static 'first_version/js/create_player.js' %}" defer></script>


{% endblock %}

{% block main %}

<form method = "post" enctype="multipart/form-data">
{%csrf_token%}
    {% if form.non_field_errors %}
        <!-- <div class="errorlist"> -->
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <h2>プロフィール</h2>
    <div class="field">
        <label for="{{ form.lastName.id_for_label }}">姓:</label>
        {{ form.lastName }}
        {% if form.lastName.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.lastName.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.firstName.id_for_label }}">名:</label>
        {{ form.firstName }}
        {% if form.firstName.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.firstName.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>
    
    <div class="field">
        <label for="{{ form.career.id_for_label }}">{{form.career.label_tag}}</label>
        {{form.career}}
        {% if form.career.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.career.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>
    
    <div class="field">
        <label for="{{ form.age.id_for_label }}">年齢:</label>
        {{ form.age }}
        {% if form.age.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.age.errors %}
                {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <div class="field">
        <label for="{{ form.number_of_years.id_for_label }}">プロ年数:</label>
        {{ form.number_of_years }}
        {% if form.number_of_years.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.number_of_years.errors %}
                {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    
    <div class="field">
        <label for="{{ form.height.id_for_label }}">身長:</label>
        {{ form.height }}
        {% if form.height.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.height.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>
    
    <div class="field">
        <label for="{{ form.weight.id_for_label }}">体重:</label>
        {{ form.weight }}
        {% if form.weight.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.weight.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.uniformNumber.id_for_label }}">背番号:</label>
        {{ form.uniformNumber }}
        {% if form.uniformNumber.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.uniformNumber.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.birthPlace.id_for_label }}">出身地:</label>
        {{ form.birthPlace }}
        {% if form.birthPlace.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.birthPlace.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.throw.id_for_label }}">利き腕:</label>
        {{ form.throw }}
        {% if form.throw.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.throw.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.bbox.id_for_label }}">打席:</label>
        {{ form.bbox }}
        {% if form.bbox.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.bbox.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>


    <div class="field">
        <label for="{{ form.character.id_for_label }}">キャラクター:</label>
        {{ form.character }}
        {% if form.character.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.character.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.image.id_for_label }}">見た目:</label>
        {{ form.image }}
        {% if form.image.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.image.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field-group">
        <label for="{{ form.profile.id_for_label }}">プロフィール:</label>
        {{ form.profile|add_class:"form-control" }}
        {% if form.profile.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.profile.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="form-control" id="exampleFormControlSelect1">
        <label for="{{ form.main_position.id_for_label }}">メインポジション:</label>
        {{ form.main_position }}
        {% if form.main_position.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.main_position.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <h2>投手能力</h2>

    <div class="field">
        <label for="{{ form.pitching_form.id_for_label }}">投球フォーム:</label>
        {{ form.pitching_form }}
        {% if form.pitching_form.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.pitching_form.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.stamina.id_for_label }}">スタミナ:</label>
        {{ form.stamina }}
        {% if form.stamina.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.stamina.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.maximum_ball_speed.id_for_label }}">最大球速(km/h):</label>
        {{ form.maximum_ball_speed }} 
        {% if form.maximum_ball_speed.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.maximum_ball_speed.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.power_of_straight.id_for_label }}">【球威】ストレート:</label>
        {{ form.power_of_straight }} {{ abilities_dict.power_of_straight }}
        {% if form.power_of_straight.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.power_of_straight.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.control_of_straight.id_for_label }}">【コントロール】ストレート:</label>
        {{ form.control_of_straight }} {{ abilities_dict.control_of_straight }}
        {% if form.control_of_straight.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.control_of_straight.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.growth_of_straight.id_for_label }}">【ノビ】ストレート:</label>
        {{ form.growth_of_straight }} {{ abilities_dict.growth_of_straight }}
        {% if form.growth_of_straight.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.growth_of_straight.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

        <div class="field">
        <label for="{{ form.mental_strength.id_for_label }}">メンタル:</label>
        {{ form.mental_strength }} {{ abilities_dict.mental_strength }}
        {% if form.mental_strength.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.mental_strength.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>


    <div class="field">
        <label for="{{ form.strike_out.id_for_label }}">奪三振:</label>
        {{ form.strike_out }} {{ abilities_dict.strike_out }}
        {% if form.strike_out.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.strike_out.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <h2>野手能力</h2>
    <div class="field">
        <label for="{{ form.contact.id_for_label }}">ミート:</label>
        {{ form.contact }} {{ abilities_dict.contact }}
        {% if form.contact.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.contact.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.power.id_for_label }}">パワー:</label> 
        {{ form.power }} {{ abilities_dict.power }}
        {% if form.power.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.power.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.vision.id_for_label }}">選球眼:</label>
        {{ form.vision }} {{ abilities_dict.vision }}
        {% if form.vision.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.vision.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.speed.id_for_label }}">走力:</label>
        {{ form.speed }} {{ abilities_dict.speed }}
        {% if form.speed.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.speed.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.arm_strength.id_for_label }}">肩力:</label>
        {{ form.arm_strength }} {{ abilities_dict.arm_strength }}
        {% if form.arm_strength.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.arm_strength.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.arm_accuracy.id_for_label }}">送球:</label>
        {{ form.arm_accuracy }} {{ abilities_dict.arm_accuracy }}
        {% if form.arm_accuracy.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.arm_accuracy.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.reaction.id_for_label }}">打球反応:</label>
        {{ form.reaction }} {{ abilities_dict.reaction }}
        {% if form.reaction.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.reaction.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.catch.id_for_label }}">捕球:</label>
        {{ form.catch }} {{ abilities_dict.catch }}
        {% if form.catch.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.catch.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <br><br>
    <h7>守備適正</h7>
    <table class="table">
        <thead>
            <tr>
                <th>投</th>
                <th>捕</th>
                <th>一</th>
                <th>二</th>
                <th>三</th>
                <th>遊</th>
                <th>左</th>
                <th>中</th>
                <th>右</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>{{ form.pitcher_appropriate }}</td>
                <td>{{ form.catcher_appropriate }}</td>
                <td>{{ form.first_appropriate }}</td>
                <td>{{ form.second_appropriate }}</td>
                <td>{{ form.third_appropriate }}</td>
                <td>{{ form.shortstop_appropriate }}</td>
                <td>{{ form.left_appropriate }}</td>
                <td>{{ form.center_appropriate }}</td>
                <td>{{ form.right_appropriate }}</td>
            </tr>
        </tbody>
    </table>

    <div class="field">
        <label for="{{ form.chance.id_for_label }}">チャンス:</label>
        {{ form.chance }} {{ abilities_dict.chance }}
        {% if form.chance.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.chance.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.vs_left_pitcher.id_for_label }}">対左投手:</label>
        {{ form.vs_left_pitcher }} {{ abilities_dict.vs_left_pitcher }}
        {% if form.vs_left_pitcher.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.vs_left_pitcher.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>
    <div class="field">
        <label for="{{ form.inside.id_for_label }}">インコース:</label>
        {{ form.inside }} {{ abilities_dict.inside }}
        {% if form.inside.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.inside.errors %}
                {{ error }}<br>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div class="field">
        <label for="{{ form.outside.id_for_label }}">アウトコース:</label>
        {{ form.outside }} {{ abilities_dict.outside }}
        {% if form.outside.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.outside.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.high_ball.id_for_label }}">ハイボール:</label>
        {{ form.high_ball }} {{ abilities_dict.high_ball }}
        {% if form.high_ball.errors %}
            <!-- <div class="errorlist"> -->
                {% for error in form.high_ball.errors %}
                {{ error }}<br>
                {% endfor %}
            <!-- </div> -->
        {% endif %}
    </div>

    <!-- <div class="field"> -->
        <label for="{{ form.low_ball.id_for_label }}">ローボール:</label>
        {{ form.low_ball }} {{ abilities_dict.low_ball }}
        {% if form.low_ball.errors %}
                {% for error in form.low_ball.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    <!-- </div> -->

    <div class="field">
        <label for="{{ form.bunt.id_for_label }}">バント:</label>
        {{ form.bunt }} {{ abilities_dict.bunt }}
        {% if form.bunt.errors %}
                {% for error in form.bunt.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.base_running.id_for_label }}">走塁:</label>
        {{ form.base_running }} {{ abilities_dict.base_running }}
        {% if form.base_running.errors %}
                {% for error in form.base_running.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.steeling.id_for_label }}">盗塁:</label>
        {{ form.steeling }} {{ abilities_dict.steeling }}
        {% if form.steeling.errors %}
                {% for error in form.steeling.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.pitcher_lead.id_for_label }}">投手リード:</label>
        {{ form.pitcher_lead }} {{ abilities_dict.pitcher_lead }}
        {% if form.pitcher_lead.errors %}
                {% for error in form.pitcher_lead.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.home_block.id_for_label }}">ブロック:</label>
        {{ form.home_block }} {{abilities_dict.home_block}}
        {% if form.home_block.errors %}
                {% for error in form.home_block.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    </div>

    <div class="field">
        <label for="{{ form.sturdiness.id_for_label }}">ケガしにくさ:</label>
        {{ form.sturdiness }} {{abilities_dict.sturdiness}}
        {% if form.sturdiness.errors %}
                {% for error in form.sturdiness.errors %}
                {{ error }}<br>
                {% endfor %}
        {% endif %}
    </div>

<!-- {% for key, value in abilities_dict.items %}
    <p>{{ key }}: {{ value }}</p>
{% endfor %} -->


<div>
    <button type="submit" class="btn btn-primary">保存</button>
</div>

</form>

{% endblock %} 