{% extends "base.html" %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'first_version/css/create_player.css' %}">
<script src="{% static 'first_version/js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'first_version/js/create_player.js' %}"></script>

{% endblock %}

{% block main %}

  <form method = "post" enctype="multipart/form-data">
    {%csrf_token%}
    <!-- <h2>プロフィール</h2>
    {{ form_profile.as_p }}
    <br><br>
    <h2>投手能力</h2>
    {{ form_pitcher.as_p }}
    <br><br>
    <h2>野手能力</h2>
    {{ form_fielder.as_p }} -->
    <h2>プロフィール</h2>
    {{ form.as_p }}
    <input type="submit" value="保存">
  </form>

{% endblock %} 
