{% extends "base.html" %}

{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'first_version/css/create_player.css' %}">
<script src="{% static 'first_version/js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'first_version/js/create_player.js' %}"></script>

{% endblock %}

{% block main %}

  <div class="tab-panel">
    <!-- タブ -->
    <ul class="tab-group">
      <li class="tab tab-profile is-active">プロフィール</li>
      <li class="tab tab-pitcher">投手能力</li>
      <li class="tab tab-fielder">野手能力</li>
      <li class="tab tab-save">保存</li> 
    </ul>
    <!-- タブを切り替えて表示するコンテンツ -->
    <div class="panel-group">
      <div class="panel tab-profile is-show">
        <form method="post" id="form_profile" enctype="multipart/form-data" class="form-ajax">
          {% csrf_token %}
          {{form_profile.as_p}}
          <!-- {{form_profile.lastName.label}}:&nbsp;{{ form_profile.lastName}}
          <br><br>
          {{form_profile.firstName.label}}:&nbsp;{{ form_profile.firstName}}
          <br><br>
          {{form_profile.career.label}}:&nbsp;{{ form_profile.career}}
          <br><br>
          {{form_profile.age.label}}:&nbsp;{{ form_profile.age }}
          <br><br>
          {{form_profile.number_of_years.label}}:&nbsp;{{ form_profile.number_of_years}}
          <br><br>
          {{form_profile.height.label}}:&nbsp;{{ form_profile.height }}
          <br><br>
          {{form_profile.weight.label}}:&nbsp;{{ form_profile.weight}}
          <br><br>
          {{form_profile.uniformNumber.label}}:&nbsp;{{ form_profile.uniformNumber}}
          <br><br>
          {{form_profile.birthPlace.label}}:&nbsp;{{ form_profile.birthPlace}}
          <br><br>
          {{form_profile.throw.label}}:&nbsp;{{form_profile.throw}}
          <br><br>
          {{form_profile.bbox.label}}:&nbsp;{{form_profile.bbox}}
          <br><br>
          {{form_profile.player_type.label}}:&nbsp;{{form_profile.player_type}}
          <br><br>
          {{form_profile.character.label}}:&nbsp;{{form_profile.character}}
          <br><br>
          {{form_profile.profile.label}}:&nbsp;{{form_profile.profile}} -->
        </form>
      </div>

      <!-- 入力フォーム:投手能力 -->
      <div class="panel tab-pitcher">
        <form method="post" id="form_pitcher" enctype="multipart/form-data" class="form-ajax">
          {% csrf_token %}
          <!-- {{ form_pitcher.as_p }} -->
          {{form_pitcher.pitching_form.label}}:&nbsp;{{form_pitcher.pitching_form}}
          <br><br>
          {{form_pitcher.stamina.label}}:&nbsp;{{form_pitcher.stamina}}
          <br><br>
          {{form_pitcher.maximum_ball_speed.label}}:&nbsp;{{form_pitcher.maximum_ball_speed}}
          <br><br>
          {{form_pitcher.power_of_straight.label}}:&nbsp;{{form_pitcher.power_of_straight}}
          <br><br>
          {{form_pitcher.growth_of_straight.label}}:&nbsp;{{form_pitcher.growth_of_straight}}
          <br><br>
          {{form_pitcher.control_of_straight.label}}:&nbsp;{{form_pitcher.control_of_straight}}
          <br><br>
          {{form_pitcher.mental_strength.label}}:&nbsp;{{form_pitcher.mental_strength}}
          <br><br>
          {{form_pitcher.strike_out.label}}:&nbsp;{{form_pitcher.strike_out}}
          <br><br>
        </form>
      </div>

      <!-- 入力フォーム:野手能力 -->
      <div class="panel tab-fielder">
        <form method="post" id="form_fielder" enctype="multipart/form-data" class="form-ajax">
          {% csrf_token %}
          <!-- {{ form_fielder.as_p }}  -->
          {{form_fielder.contact.label}}:&nbsp;{{form_fielder.contact}}
          <br><br>
          {{form_fielder.power.label}}:&nbsp;{{form_fielder.power}}
          <br><br>
          {{form_fielder.vision.label}}:&nbsp;{{form_fielder.vision}}
          <br><br>
          {{form_fielder.speed.label}}:&nbsp;{{form_fielder.speed}}
          <br><br>
          {{form_fielder.arm_strength.label}}:&nbsp;{{form_fielder.arm_strength}}
          <br><br>
          {{form_fielder.arm_accuracy.label}}:&nbsp;{{form_fielder.arm_accuracy}}
          <br><br>
          {{form_fielder.reaction.label}}:&nbsp;{{form_fielder.reaction}}
          <br><br>
          {{form_fielder.catch.label}}:&nbsp;{{form_fielder.catch}}
          <br><br>
        </form>
      </div>
      <div class="panel tab-save">
        <button id="save-btn">保存</button>

      </div>
    </div>
  </div>
  <br><br>
  
  <!-- フォームの入力内容を、views.py(サーバー)へPOSTリクエストするためのスクリプト -->
  <script src="{% static 'first_version/js/form_ajax.js' %}"></script>

{% endblock %} 
