{% block extrahead %}
{% load static %}
<link rel="stylesheet" href="{% static 'first_version/css/detail_player.css' %}">
<style>
  main {
    background-color:rgb(250,250,250);
  }
</style>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Bootstrap JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js"></script>

<!-- タブ切り替え用 -->
<script>
  $(document).ready(function(){
    $('.nav-link').click(function(){
      $('.nav-link').removeClass('active');
      $(this).addClass('active');
      var tabId = $(this).attr('data-tab');
      $('.tab-pane').removeClass('show active'); // 修正点: 全てのタブの表示を非表示にする
      $('#' + tabId).addClass('show active'); // 修正点: 選択されたタブのコンテンツを表示
    });
  });
</script>

<!-- chart.js -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js"
  integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg=="
  crossorigin="anonymous"></script>
<script
  src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@next/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<!-- chart.js -->

{% endblock %}
  
{% block main %}
  <div class="bg-primary-subtle">
    <div class = "container">
      <h1>{{ player.lastName }}&nbsp;{{ player.firstName }}</h1>
      <h5>&nbsp;&nbsp;&nbsp;&nbsp;{{player.uniformNumber}}&nbsp;{{player.main_position}}</h5>
      <img class= "player_image" src="/{{ player.image }}">
      <p>created by {{player.created_by}}</p>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-tab="profile-tab" href="#">プロフィール</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-tab="pitcher-tab" href="#">投手能力</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-tab="fielder-tab" href="#">野手能力</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="container tab-pane active" id="profile-tab">
          <!-- プロフィールのコンテンツ -->
          {{player.birthPlace}}&nbsp;出身
          <br>
          &nbsp;&nbsp;&nbsp;&nbsp;{{player.age}}歳
          <br>
          身長:{{player.height}}cm&emsp;&emsp;体重:{{player.weight}}kg
          <br>
          投打:{{player.throw}}投げ{{player.bbox}}打ち
          <br>
          キャラクター:{{player.character}}
          <br><br><br>
          {{ player.power_of_straight }}
          {{player.profile}}
        </div>
        <div class="container tab-pane" id="pitcher-tab">
          <!-- 投手能力のコンテンツ -->
          <canvas id="mychart"></canvas>
        </div>

        <div class="container tab-pane" id="fielder-tab">
          <!-- 野手能力のコンテンツ -->
          <h7>基本能力</h7>
          <div style="width:400px">
            <canvas id="fielderAbility_chart"></canvas>
          </div>
          <br><br>
          <h7>特殊能力</h7>

          <div class="container border border-dark">
            <div class="row border border-dark">
              <div class="col-sm-2 border border-dark"
                    id = "chance">チャンス:{{player.chance}}</div>
              <div class="col-sm-2 border border-dark"
                    id = "vs_left_pitcher">対左投手:{{player.vs_left_pitcher}}</div>
              <div class="col-sm-2 border border-dark"
                    id = "inside">インコース:{{player.inside}}</div>
              <div class="col-sm-2 border border-dark"
                    id="outside">アウトコース:{{player.outside}}</div>
            </div>
            <div class="row border border-dark">
              <div class="col-sm-2 border border-dark"
                    id="high_ball">ハイボール:{{player.high_ball}}</div>
              <div class="col-sm-2 border border-dark"
                    id="low_ball">ローボール:{{player.low_ball}}</div>
              <div class="col-sm-2 border border-dark"
                    id="bunt">バント:{{player.bunt}}</div>
              <div class="col-sm-2 border border-dark"
                    id="base_running">走塁:{{player.base_running}}</div>
            </div>
            <div class="row border border-dark">
              <div class="col-sm-2 border border-dark"
                    id = "steeling">盗塁:{{player.steeling}}</div>
              <div class="col-sm-2 border border-dark"
                    id="pitcher_lead">投手リード:{{player.pitcher_lead}}</div>
              <div class="col-sm-2 border border-dark"
                    id="home_block">ブロック:{{player.home_block}}</div>
              <div class="col-sm-2 border border-dark"
                    id="sturdiness">ケガしにくさ:{{player.sturdiness}}</div>
            </div>
          </div>

          <!-- JSでデータ受け取るのに必要↓ -->
          <input type="hidden" id="fielder_basic" value="{{fielderBasicAbility.data}}">
          <input type="hidden" id="fielder_special" value="{{fielderSpecialAbility.data}}">
          

          <script src="{% static 'first_version/js/detail_player.js' %}"></script>
        
        
        </div>
      </div>
    </div>
  </div>
  {% endblock %}



