{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
    <meta charset="utf-8">
    <title>野球選手作成アプリ</title>
    {% bootstrap_css %}
    {% block extrahead %}
        {% load static %}
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
        <script src="{% static 'js/jquery-3.6.4.js' %}"></script>
    {% endblock %}
    {% bootstrap_javascript %}
</head>
<body>
<nav class="navbar navbar-expand flex-md-row navbar-dark bg-dark">
    <div class="container justify-content-between">
        <a href="/" class="navbar-brand">野球選手作成アプリ</a>
        <ul class="navbar-nav mr-md-2">
            {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">ログアウト</a></li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">ログイン</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'signup' %}">会員登録</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<main>
    <div class="container">
        {% block main %}{% endblock %}
    </div>
</main>
</body>
</html>