{% load django_bootstrap5 %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>create_player</title>
  </head>
  <body>

    <h1>選手作成</h1>
    <!-- 入力内容をDBテーブルへ挿入するため、method = "post"とする。 -->
    <form action="{% url  'create_player'%}" method="POST"> 
        {% csrf_token %} 
        {{form.as_p}}
    <button type="submit" class="btn">保存</button>
    <br>
    <a href="{%url 'index'%}">戻る</a>
  </body>
  
</html>