<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
    a {
      display: block;
      text-align: center;
    }

    section {
      text-align: center;
    }
  </style>
</head>

<body>
  <div>
    <a href="#about" class="about">概要</a>
  </div>
  <div>
    <section id="about">
      <p>これは概要です。</p>
      <!-- aタグ -->
      <a href="#" onclick="history.back(-1);return false;">戻る</a>
      <!-- buttonタグ -->
      <button type="button" onclick="history.back()">戻る</button>
    </section>
  </div>
</body>

</html>